/* 
  ========================================
  Seção de formatações globais da tela do Cardapio
  ========================================
*/

nav {
  padding: 10px;
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

/* 
  ========================================
  formatando logo e nome da cafeteria
  ========================================
*/

.logoName {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin: 0;
}

.logoName .icon {
  width: auto;
}

.logoName .icon span {
  background: var(--cor-Button);
  border-radius: 1em;
  padding: 4px;
  color: white;
  font-size: 34px;
}

.logoName .textIcon {
  width: auto;
  font-size: 8px;
  margin: 0;
}

.logoName span {
  font-size: 14px;
}

.logoName p {
  font-size: 10px;
  margin: 0;
}

/* 
  ========================================
  formatando botoes para outras paginas
  ========================================
*/

.iconPages {
  width: 170px;
  height: 50px;
  padding: 0;
  margin: 0;
}

.iconPages .pagesIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.iconPages .pagesIcons li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconPages .pagesIcons a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s;
  background: var(--cor-fundoGeral);
  padding: 4px 6px;
  border-radius: 6px;
}

.iconPages .pagesIcons a:hover {
  opacity: 0.7;
  background: var(--cor-alert);
}

/* 
  ========================================
  formatando container pai das telas
  ========================================
*/

#containerCardapio {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

/* 
  ========================================
  formatando tela Cardapio
  ========================================
*/

.ContainerCategorias {
  padding: 2rem 0;
}

.ContainerCategorias h2 {
  margin: 0;
  font-family: sans-serif;
  color: #2d1f1a;
}

.ContainerCategorias ul {
  margin: 1rem auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-grow: row wrap;
  gap: 1rem;
}

.ContainerCategorias ul > li {
  padding: 0.6rem;
  border: 1px solid #2d1f1a5e;
  border-radius: 12px;
  color: #2d1f1a;
}

.ContainerCategorias ul > li:hover {
  color: white;
  opacity: 0.7;
  background: var(--cor-detalhes);
}

/* 
  ========================================
  formatando tela Cardapio - cards
  ========================================
*/

.Cards_Container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  gap: 1rem;
  color: var(--cor-textoPrincipal);
}

.Cards_Container .Card_items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 17.4rem;
  height: 22rem;
  background-color: rgb(250, 250, 250);
  border-radius: 1rem;
}

.Card_items .card_image img {
  width: 100%;
  height: 12rem;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
}

.Card_items .card_description {
  padding: 0 1rem;
}

.Card_items .card_description h3,
p {
  margin: 0;
}

.Card_items .card_description h3 {
  font-family: sans-serif;
  color: var(--cor-textoPrincipal);
}

.Card_items .card_description p {
  color: var(--cor-textoSegundario);
}

.Card_items .card_footer {
  margin-bottom: 1rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 1rem 1rem;
  font-family: sans-serif;
}

.Card_items .card_footer p {
  color: var(--cor-Button);
  font-size: larger;
}

.Card_items .card_footer button {
  padding: 0.3rem;
  background-color: var(--cor-Button);
  color: white;
  font-size: medium;
  border-radius: 0.5rem;
}
