/* 
  ========================================
  Seção de formatações globais do carrinho
  ========================================
*/

.containerCarrinho {
  width: 100%;
  height: 100vh;
}

.carrinhoVazio h2,
.carrinhoVazio p {
  margin: 0;
}

.carrinhoVazio {
  margin: 0;
  display: flex;
  justify-content: center;

  padding: 4rem;
}

.carrinhoVazio .icon {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1rem;
  font-size: larger;
  color: var(--cor-Button);
}

/* 
  ========================================
  Seção de formatações layout carrinho
  ========================================
*/

.icon span {
  background-color: var(--cor-neutra);
  font-size: 6rem;
  color: var(--cor-textoSegundario);
  border-radius: 4rem;
  padding: 0.6rem;
  text-align: center;
}

.icon h2 {
  color: var(--cor-textoPrincipal);
}

.icon p {
  color: var(--cor-textoSegundario);
}

.icon button {
  padding: 0.6rem;
  background-color: var(--cor-Button);
  color: white;
  font-size: medium;
  border-radius: 0.5rem;
  border: none;
}
