#containerSobre {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #d8532328;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 0.5rem;
  box-sizing: content-box;
}

.containerCards {
  margin: 0;
  padding: 1.5rem;
  width: 96%;
  min-height: 10vh;
  background-color: antiquewhite;
}

footer {
  padding: 2rem;
  text-align: center;
}
